<!DOCTYPE html>
<html>
<meta charset="utf-8">
	<head>
		<script src="lib/jquery-2.1.1.js"></script>
		<script src="lib/angular.js"></script>
		<script src="lib/d3.js"></script>
		<script src="lib/topojson.js"></script>
        <script src="lib/angular-touch.js"></script>
        <script src="lib/angular-slider.js"></script>
        <script src="lib/moment.js"></script>
		<script src="scripts/app.js"></script>
		<script src="scripts/map.js"></script>
        <script src="scripts/toolbox.js"></script>
        <script src="scripts/selected.js"></script>
        <script src="scripts/selector.js"></script>
        <script src="scripts/DataCtrl.js"></script>
		<link rel="stylesheet" href="styles/style.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
	</head>
	<body ng-app="MashAcademy" ng-controller="MashAcademy">
		<table class="top-pane">
			<tr>
				<td>
					<div class="title"><img src="content/mash-academy.svg" /></div>
				</td>
			</tr>
		</table>
		<div class="left-pane">
		    <toolbox></toolbox>
            <selected></selected>
		</div>
		<div class="right-pane" ng-controller="DataCtrl" ng-init="slider = {}">
			<div ng-style="{ height: hasControl('Time') ? '80%' : '100%' }"><map ng-if="hasControl('Map')"></map></div>
            <slider ng-if="hasControl('Time')" floor="{{minTime}}" ceiling="{{maxTime}}" step="86400000" ng-model="slider.sliderValue" translate-fn="toDate"></slider>
			<!--<selector ng-if="hasControl('Time')" value="sliderValue" style="margin:400px 0 0 1000px"></selector>-->
		</div>
		<!-- Sorry, I only had time to do HTML table layout :) -->
		<table class="bottom-pane">
			<tr>
				<td class="back-button-cell">
					<table ng-if="currentQuestionIndex > 0" class="back-button selectionoff" ng-click="previousQuestion()"><tr><td>◄ Back</td></tr></table>
				</td>
				<td class="bottom-center-cell">
					<div class="question-answer-area">
						<div class="">
							<p class="question">{{ currentQuestion.question }}</p>
							<div class="answer-area">
								<div ng-if="currentQuestion.type == 'text'">
									<input class="answer-text-box" type="text" ng-model="answer" placeholder="Type answer here" style="width:350px;" />
									<button class="answer-button selectionoff" ng-click="currentQuestion.marker(answer)">Check</button>
								</div>
								
								<div ng-if="currentQuestion.type == 'choice'">
									<button ng-repeat="option in currentQuestion.options" class="answer-button selectionoff" ng-click="currentQuestion.marker(option)">{{ option }}</button>
								</div>
								
								<table class="error-area" ng-if="errorShowing">
									<tr>
										<td>Sorry, that's not right. Try again!</td>
									</tr>
								</table>
								
								<table class="success-area" ng-if="currentQuestion.passed">
									<tr>
										<td>Yeah, that's right! Move on to the next question.</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<!--<div class="answer-error-area"></div>-->
				</td>
				<td class="next-button-cell">
					<table ng-if="currentQuestionIndex < questions.length - 1" class="next-button selectionoff" ng-click="nextQuestion()"><tr><td>Next ►</td></tr></table>
				</td>
			</tr>
		</table>
		
		<div class="helper" ng-if="showHelper">
			<img class="helper-arrow" src="content/large-arrow.svg" />
			<p class="helper-text">Click and drag data and controls into the workshop</p>
		</div>
	</body>
</html>
