<svg></svg>
<div ng-if="!simpleMap">
	<div class="data-window" ng-repeat="city in cities" ng-style="{ 'top': city.top, 'left': city.left }">
		<div class="data-container">
			<p class="weather-data" ng-if="city.weather">
				<img ng-if="city.weather == 'Sunny'" src="content/sun.svg" />
				<img ng-if="city.weather == 'Cloudy'" src="content/clouds.svg" />
				<img ng-if="city.weather == 'Raining'" src="content/raining.svg" />
			</p>
			<p class="temp-data" ng-if="city.minTemp">{{ city.minTemp }}°c / {{ city.maxTemp }}°c</p>
			<p class="city-name">{{ city.name }}</p>
		</div>
	</div>
</div>
<div style="clear:both"></div>