<div class="day-selector">
	<table>
		<tr>
			<td class="change-cell selectionoff" ng-class="{ 'not-changeable': !isNextMonth() }" ng-click="nextMonth()"><div ng-show="isNextMonth()">▲</div></td>
			<td class="middle-cell"></td>
			<td class="change-cell selectionoff" ng-class="{ 'not-changeable': !isNextDay() }" ng-click="nextDay()"><div ng-show="isNextDay()">▲</div></td>
		</tr>
		<tr>
			<td class="value-cell selectionoff" style="width:170px;">{{ currentMonth }}</td>
			<td></td>
			<td class="value-cell selectionoff" style="width:50px;">{{ currentDay }}</td>
		</tr>
		<tr>
			<td class="change-cell selectionoff" ng-class="{ 'not-changeable': !isPreviousMonth() }" ng-click="previousMonth()"><div ng-show="isPreviousMonth()">▼</div></td>
			<td></td>
			<td class="change-cell selectionoff" ng-class="{ 'not-changeable': !isPreviousDay() }" ng-click="previousDay()"><div ng-show="isPreviousDay()">▼</div></td>
		</tr>
	</table>
</div>