<div class="selected" droppable>
	<p class="box-header">Workshop</p>
    
	<p class="workshop-helper-text" ng-if="showDragHelper">Drag into here!</p>
	
    <div style="width:80%;border-radius:25px;margin-left:20px;position:relative;" class="data" ng-if="selectedData.length > 0">
        <div class="selected-header" style="position:relative;top:10px;right:30px;">Data</div>
        <div style="width:110%;">
            <div style="padding-top:0px;padding-bottom:5px;padding-left:0px;margin-left:15px;margin-top:20px;margin-bottom:20px">
                <div ng-repeat="dataset in selectedData" class="component-item">
					<div class="control-wrapper">
						<div class="icon">
							<img ng-if="dataset.name == 'Weather'" ng-src="content/cloud.svg" class="icon dataset"/>
							<img ng-if="dataset.name == 'Temperature'" ng-src="content/thermometer.svg" class="icon dataset"/>
						</div>
						<p class="control-text">{{dataset.name}}</p>
						<p class="control-remove" ng-click="remove(dataset)">×</p>
					</div>
				</div>
            </div>
        </div>
    </div>
    <div style="width:80%;border-radius:25px;margin-left:20px;position:relative;" class="components" ng-if="selectedComponents.length > 0">
        <div class="selected-header" style="position:relative;top:10px;right:30px;">Controls</div>
        <div style="width:110%">
			
            <div style="padding-top:0px;padding-bottom:5px;padding-left:0px;margin-left:15px;margin-top:20px;margin-bottom:20px">
                <div ng-repeat="component in selectedComponents" class="component-item">
					<div style="clear:both"></div>
					<div class="control-wrapper">
						<div class="icon">
							<map ng-if="component.name == 'Map'" simple-map="true"></map>
							<img ng-if="component.name == 'Time'" src="content/calendar.svg" style="height:30px;margin:3px 0 0 5px"/>
						</div>
						<p class="control-text">{{component.name}}</p>
						<p class="control-remove" ng-click="remove(component)">×</p>
					</div>
				</div>
            </div>
        </div>
    </div>
</div>