<div class="toolbox">
    <div class="toolbox-controls">
        Controls:
        <div ng-repeat="control in controls">

        </div>
        <div id="clock-icon" class="icon" draggable="true"><img class="icon" src="content/Swiss_railway_clock.svg"/></div>
        <div id="map-icon" class="icon" draggable="true"><map simple-map="true"></map></div>
    </div>
    <div class="toolbox-data">
        Data:
        <div ng-repeat="dataset in data">
            <img draggable="true" ng-src="{{dataset.icon}}" title="{{dataset.name}}" class="icon dataset"/>
        </div>
    </div>
</div>
