<div class="toolbox">
    <div class="toolbox-data">
		<p class="box-header">Data</p>
		<div class="box-content">
			<div ng-repeat="dataset in data">
				<div class="control-wrapper" draggable="true" title="{{dataset.name}}">
					<img ng-src="{{dataset.icon}}" class="icon dataset" ng-class="{ thermometer: dataset.name == 'Temperature', weather: dataset.name == 'Weather' }" />
					<p class="control-text">{{dataset.name}}</p>
					<div style="clear:both"></div>
				</div>
			</div>
		</div>
    </div>
    <div class="toolbox-controls">
        <p class="box-header">Controls</p>
		<div class="box-content">
			<div class="control-wrapper" draggable="true" id="map-icon">
				<div class="icon"><map simple-map="true" style="height:34px;margin:0px 0 0 0px"></map></div>
				<p class="control-text">Map</p>
				<div style="clear:both"></div>
			</div>
			<div class="control-wrapper" draggable="true" id="clock-icon">
				<div class="icon"><img class="icon" src="content/calendar.svg" style="height:30px;margin:2px 0 0 0px"/></div>
				<p class="control-text">Day selector</p>
				<div style="clear:both"></div>
			</div>
		</div>
    </div>
</div>
